<?php
return array (
    // This will enable the web / webpage portion or core.
    'useWeb'               => false,
    // Should php display errors on the web page
    'displayErrors'        => false,
    // Should php log the errors
    'logErrors'            => true,
    // The prefix for all cookies this app will create and use
    'cookiePrefix'         => 'core',
    // The index name for the session
    'sessionIndex'         => 'cstorage',
    // The name of the session that will be created
    'sessionName'          => 'core_session',
    // Name of the cookie that will hold the name of the template
    'templateCookie'       => 'template',
    // Default template style to use
    'defaultTemplateStyle' => 'default',
    // Name of the cookie that will hold the name of the skin
    'skinCookie'           => 'skin',
    // Default skin style to use
    'defaultSkinStyle'     => 'default',
);